.NavTab{
    color: var(--underline);
    padding-left: 5%;
    padding-block: 5%;
    padding-bottom: 1%;
    border-bottom: solid 2px var(--underline);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 300ms;
    font-size: 1.9vh;
}
.NavTab:hover{
    color: var(--secondLower);
    padding-left: 20%;
    border-bottom-color: var(--secondLower);
    cursor: pointer;
}

.AddTaskSection{
    width: 100%;
    height: 12%;
    padding-inline: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.currentNavTab{
    color: var(--blue);
    border-bottom-color: var(--blue);
}

