@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');
/* 
    THIS FILE IS USED TO DEFINE 
    THE GENERAL STYLES OF THE APP
*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
.icon{    
    margin: 0.3vw;

    color:var(--blue);
    font-size: 1.6vw;

    transition: all 750ms ease-in-out;
}
.icon:hover{color: var(--secondLower); cursor: pointer; rotate: 360deg;}
.taskIcon {    
    margin: 0.3vw;
    color:var(--blue);
    font-size: 1.3vw;
}
.taskIcon{
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --appBackground: rgb(14, 14, 14);
    --main: rgb(29, 29, 29);
    --nav: rgb(37, 37, 37);
    --underline: rgb(221, 221, 221);
    --blue: rgb(82, 200, 255);
    --secondLower: rgb(255, 255, 255);
    --darker: rgb(24, 24, 24);

    --accept: rgb(35, 195, 29);
    --delete: rgb(222, 0, 0);
}
/* 
    ALL DEFAULT STYLES 
    START WITH CAPITAL LETTER
*/

.Heading{
    font-weight: bolder;
}