@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
    THIS FILE IS USED TO DEFINE 
    THE GENERAL STYLES OF THE APP
*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
.icon{
    color:var(--light);
    font-size: 1.6vw;
    margin: 0.3vw;
}
*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --appBackground: rgb(18, 18, 18);
    --dark: rgb(47, 47, 47);
    --darker: rgb(37, 37, 37);
    --default: rgb(62, 62, 62);
    --light: rgb(134, 134, 134);
    --lighter: rgb(255, 255, 255);
}
/* 
    ALL DEFAULT STYLES 
    START WITH CAPITAL LETTER
*/
.App {
    width: 100vw;
    height: 100vh;
    padding: 3vh;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    background-color: rgb(18, 18, 18);
}

.Heading{
    font-family: "Comfortaa", cursive;
    font-weight: bolder;
}