@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
    THIS FILE IS USED TO DEFINE 
    THE GENERAL STYLES OF THE APP
*/

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border-radius: 0.5em;
}
:root{
    --yellow: #fdec00;
    --containerColor: rgb(255, 255, 255);
    --defaultColor: rgb(203, 194, 255);
    --textColor: rgb(55, 138, 255);
}
/* 
    ALL DEFAULT STYLES 
    START WITH CAPITAL LETTER
*/
.App {
    width: 100vw;
    height: 100vh;
    padding: 3vh;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.Heading{
    font-family: "Comfortaa", cursive;
    font-weight: bolder;
    font-size: 3vh;
}